<html>
    <head>
        <link rel="stylesheet" href="css/body.css">
        <link rel="stylesheet" href="css/form.css">
        <%- include("partials/header.ejs") %>
        <title>Login</title>

    </head>
    <body>
        <%- include("partials/errors.ejs") %>
        <form method="POST" action="/login">
            <label for="username">Username</label>
            <input type="email" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" required>
            
            <input type="submit" value="Login">
        </form>
    </body>
</html>