/*basic layout*/
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.8fr 4fr;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*sidebar layout*/

.sidebar {
    grid-row: 1/-1;
    background-color: rgb(69, 144, 206);
    color: white;
    font-weight: bolder;
    display: grid;
    grid-template-rows: 5% 25% 15%;
    gap: 50px;
    padding-top: 10%;
}

.sidebarChoice {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}

.sidebarSettings {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}


.dashboard, .sidebarChoice div, .sidebarSettings div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
}

svg {
    fill: white;
    height: 1rem;
    width: auto;
    justify-self: end;
}

.dashboard svg {
    height: 100%;
    width: auto;
}
.dashboard {
    font-size: 1.5rem;
}


/*header layout*/

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: 1fr  1fr;
    font-weight: bold;
    padding: 0 20px 20px;
    
}

.header svg {
    fill: black;
    height: 2rem;
    width: auto;
}



img {
    height: 2rem;
    width: auto;
    border-radius: 50%;
}

.search {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

input {
    border: none;
    border-radius: 10px;
    background-color: rgb(227, 232, 239);
    max-width: 80%;
    width: 100%;
    height: 1.2rem;
}

.header svg {
    max-height: 100%;
    height: 1.2rem;
    justify-self: left;
}


ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header p {
    margin: 0;
    padding: 0;
}

.header img {
    border-radius: 50%;
}

.bigHead {
    display: grid;
    grid-template-columns: 5rem  1fr;
    align-items: center;
    
}

.bigHead img {
    height: 4rem;
}
.bigHead .hello {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.bigHead .name {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.button, .smallHead {
    display: flex;
    justify-content: end;
}

button {
    border: none;
    width: 4.5rem;
    height: 1.7rem;
    border-radius: 20px;
    color: white;
    background-color: rgb(69, 144, 206);
}


/*main content container - projects container*/
.mainContentContainer {
    background-color:  rgb(227, 232, 239);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 3fr 3fr
}


.areaName {
    display: flex;
    align-items: end;
    font-weight: bolder;
    margin: 0;
    margin-left: 10px;
}

.projcetContentContainer {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.content {
    background-color: white;
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    margin: 10px;
}

.yellowBar {
    background-color: rgb(231, 182, 74);
    padding: 5px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    
}
.content svg {
    fill: black;
}

h4, p{
    margin: 0;
}

.words {
    margin: 10px;
}


/*main content container - announcements*/

.announcementContent {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    margin: 10px;
}

.mainContentContainer p {
    color: rgb(174, 174, 174);
}

.announcementContent div {
    margin: 30px;
    margin-bottom: 0;
}

.announcementContent p {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(200, 200, 200);
}


/*main content container - trending*/

.trending {
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    grid-column: 2 / 3;
}

.trending ul {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
}

.trending li {
    display: flex;
    gap: 10px;
}

.trending .name {
    color: black;
}

.content, .announcementContent, .trending ul {
    border-radius: 10px;
}

.announcementContent div:last-child p:last-child {
    border-bottom: none;
}