<html>
    <body>
        <% category.map(carType => {%>
            <a href="category/<%= carType.type %>"><%= carType.type %></a>
        <%})%>
        <a href="/create/category">Add category</a>
        <a href="/create/model">Add model</a>
    </body>
</html>