<html>
    <head>
        <link rel="stylesheet" href="/css/create.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
        <div id="container">
            <%- include("header.ejs") %>
            <div id="links">
                <ul>
                    <li><a href="/create/category">Create category</a></li>
                    <li><a href="/create/model">Create model</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>