<form method="POST" action="/new">
    <% message %>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= message.name%>">

    <label for="message">Message</label>
    <input type="text" id="message" name="message" value="<%= message.text%>">
    <input type="submit">
 </form>
 