<div id="header" >
    <dvi id="brand" >
        <img src="https://www.bmwusa.com/content/dam/bmw/common/images/logo-icons/BMW/BMW_Grey_Logo.svg.asset.1695740583799.svg" alt="logo">
        <h1>BMW</h1>
    </dvi>
    <div id="links">
        <h2><a href="/" >Home</a></h2>
        <h2><a href="/create">Create</a></h2>
    </div>
</div>