<html>
    <body>
        <div id="sidebar">
            <%- include("sidebar.ejs", {category: category}) %>
        </div>
        <div id="content">
            <% name.map(car => { %>
                <div><%= car.name %></div>
            <%}) %>
        </div>
    </body>
</html>