<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubhouse</title>
</head>
<body>
    <%- include('partials/header') %>
    <div id="content">
        <ul>
            <% messages.forEach(message => { %>
                <li>Title: <%= message.title %>; Text: <%= message.text %>, <%= isLoggedIn ? 'Author: ' + message.first_name + ' ' + message.last_name : '' %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>