<html>
    <body>
        <h1>Login Page</h1>
        <form method="POST" action="/login">
            Enter Username:<br>
            <input type="email" name="username" required><br>
            Enter Password:<br>
            <input type="password" name="password" required><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>