<div>
        <h2>Models</h2>
        <ul>
        <li id="all">All models</li>
        <% category.map(car => {%>
            <li id="<%= car.type %>"><%= car.type %></li>
        <%})%>
        </ul>
</div>