body {
    background-color: rgb(255, 255, 255);
    
}

#home-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

li {
    list-style: none;
}

.car-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 50px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#sidebar {
    border-right: 1px solid lightgray;
}