<div>
        <h2>Models</h2>
        <div class="model-list">
            <ul>
            <li id="all">All models</li>
            <% category.map(car => {%>
                <li id="<%= car.type %>"><%= car.type %></li>
            <%})%>
            </ul>
        </div>
</div>