<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
<%- include('partials/error.ejs') %>
<form action="/upload/<%= folderName %>" method="POST" enctype="multipart/form-data">
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file" required>
        <input type="submit" value="Upload">
</form>
</body>
</html>