body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#nav {
    display: flex;
    flex-direction: column;
}

div {
    border: 1px solid black;
}

button {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    position:sticky;
    margin: 50px auto;
}


#projectsNav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}


